<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<!-- 1. Fiddler Settings-->
	<system.net>
		<defaultProxy enabled = "true" useDefaultCredentials = "true">
			<proxy autoDetect="False" bypassonlocal="False" proxyaddress="http://127.0.0.1:8888" usesystemdefault="False" />
		</defaultProxy>
		<settings>
			<servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
		</settings>
	</system.net>

	<!-- 2. Trace network call Settings-->
	<system.diagnostics>
		<sources>
			<source name="System.Net" tracemode="includehex" maxdatasize="1024">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Http">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.WebSockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Cache" value="Verbose"/>
			<add name="System.Net.Http" value="Verbose"/>
			<add name="System.Net.Sockets" value="Verbose"/>
			<add name="System.Net.WebSockets" value="Verbose"/>
		</switches>
		<sharedListeners>
			<add name="System.Net"
			  type="System.Diagnostics.TextWriterTraceListener"
			  initializeData="C:\\temp\\network.log"
			  traceOutputOptions="ProcessId, DateTime" />
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>


	<!-- 3. Trace network call Settings-->
	<appSettings>
		<add key="log4net.Internal.Debug" value="true" />
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\log4net.txt" />
			</listeners>
		</trace>
	</system.diagnostics>
	
	<!-- 4. Add custom modules-->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">			
            	    <add name="LoggerModule" type="namespce_of_project.LoggerModule" preCondition="managedHandler" />
		</modules>
	</system.webServer>

</configuration>
